{% extends 'base.html.twig' %}

{% block body %}

    {% for success in app.flashes('success') %}
        <div class="alert alert-success">
            <p>{{ success }}</p>
        </div>
    {% endfor %}
    <h2>Welcome, {{ app.user.email }}</h2>
{% endblock %}
