{% extends 'base.html.twig' %}

{% block body %}

    {% for success in app.flashes('success') %}
        <div><p>{{ success }}</p></div>
    {% endfor %}

    <h2>Welcome, {{ app.user.email }}</h2>

    <a href="/logout">Logout</a>
{% endblock %}
